{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": { "version": "3.13", "proposals": true }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"],
  "targets": "defaults"
}